services:
  backend:
    build:
      context: ./backend/ContractManagement.Api
      dockerfile: Dockerfile
    ports:
      - "5140:5140"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5140
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=contractdb;Username=postgres;Password=postgres
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:5140
    depends_on:
      - backend

  db:
    image: postgres:17-alpine
    environment:
      - POSTGRES_DB=contractdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
